@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-blue: #213875;
    --dark-red: #DA1333;
    --darker-red: rgb(156, 6, 6);
}
body, *{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
input{
    outline: transparent;
}

