.listLast{
    @apply list-disc pl-[2rem] text-[var(--dark-blue)] opacity-80 font-[400] text-justify text-[0.9rem] ;
}
.headerThing{
    @apply font-[600] text-[1.2rem] pt-[1rem] text-[var(--dark-blue)] opacity-80;
}
.paid{
    @apply text-[var(--dark-blue)] p-[2rem] text-center capitalize border-[0.1rem] mt-[2rem] opacity-80 border-[var(--dark-blue)];
}
.paragraph{
    @apply text-center pt-[2rem] text-[0.8rem] font-[400] px-[2rem];
}
.kamala{
    @apply w-full my-[2rem] p-[1rem]  border-[0.08rem]  border-[var(--dark-red)] transition duration-200 rounded;
} 
.kamala h1{
    @apply text-[var(--dark-red)];
}
.unkamala h1{
    @apply text-white;
}
.unkamala{
    @apply bg-[var(--dark-red)];
}
.unkamala *{
    @apply text-white;
}
.inLine{
    @apply inline;
}
.deleft{
    @apply text-[1.5rem] text-center pt-[1.5rem] font-[800];
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.never{
    @apply text-[var(--dark-red)] font-[800] text-center underline italic text-[3.1rem] py-[1rem];
    font-family: impact, sans-serif;
}
.never2{
    @apply text-[var(--dark-red)] font-[800] text-center italic text-[3.1rem] py-[1rem];
    font-family: impact, sans-serif;
}
.Image2{
    @apply relative aspect-video w-[min(12rem,100%)] m-auto;
}
.buttons{
    @apply rounded w-full bg-[var(--dark-red)] text-white p-[1rem] mb-[1rem] text-center font-[600] transition duration-200 hover:scale-[1.02];
}
.bgBlack{
    @apply bg-black;
}
.input2{
    @apply p-[1rem] border-[var(--text-blue)] opacity-70 border-[0.1rem] text-[var(--text-blue)] w-full rounded;
} 
.btn2{
    @apply px-[1rem] py-[0.2rem] font-[600] transition duration-200 text-[var(--dark-red)] border-[0.1rem] border-[var(--dark-red)] rounded;
}
.bgRed{
    @apply text-white bg-[var(--dark-red)];
}
.form12{
    @apply shadow-lg my-[1rem] rounded  p-[1rem];
    
}
.consent{
    @apply text-[0.7rem] font-[400] text-justify text-[var(--dark-blue)];
}
.formSubmit{
    @apply  rounded my-[1rem];
    box-shadow: 0rem 0rem 0.3rem 0.1rem rgba(0, 0, 0, 0.137);
}
.borderb{
    @apply border-b-[0.1rem] border-b-slate-200  w-full;
}
.borderb input{
    @apply py-[0.2rem] pl-[0.5rem];
}
.borderl{
    @apply  border-l-[0.1rem] border-l-slate-200  ;
}
.submit_button{
    @apply p-[1rem] text-[1.2rem] font-[600] disabled:bg-slate-300 my-[1rem] disabled:text-white bg-[var(--dark-red)] text-white w-full text-center rounded-lg;
}
.crypto{
    @apply flex gap-[2rem] text-[var(--dark-blue)] items-center text-[1.4rem] font-[600];
}
.icon1{
    @apply bg-[var(--dark-red)] text-[6rem] rotate-45 text-white rounded-full p-[0.5rem] absolute -right-[1rem] -bottom-[1rem] opacity-20;
}
.copyDOct{
    @apply p-[0.5rem] flex gap-[1rem] items-center font-[400];
    box-shadow: 0rem 0rem 0.2rem 0rem rgba(0, 0, 0, 0.4);
}
.copied{
    @apply text-green-400;
}
@media screen and (max-width: 724px) {
    .paragraph{
        @apply px-[1rem];
    }
    .deleft{
        @apply text-[1.4rem];
    }
}